$base-color: #fe5c1c;
$base-gradient: 'bevel';

$active-color: #00738A;

@import 'sencha-touch/default/all';
 
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
/*@include sencha-toolbar-forms;*/
/*@include sencha-tabs;*/
@include sencha-toolbar;
/*@include sencha-carousel;*/
/*@include sencha-indexbar;*/
@include sencha-list;
@include sencha-layout;
@include sencha-form;
@include sencha-loading-spinner;
@include sencha-msgbox;